console.log(12)
$('.member-selection').empty();
$('.member-selection').append( $('<option> Select a Member</option>'));
<% @members.each do |member| %>
  $('.member-selection').append($("<option value=<%=member.name%>><%=member.name%></option>"));
<% end %>
